:root {
    --deep-gray: #343E4B;
    --light-gray: #FBFBFB;
    --yellow: #E2A12E;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
}

main,
.height-80 {
    min-height: 80vh !important;
}

.ant-layout-footer {
    padding: 0 !important;
}

.myFooter {
    background-color: var(--deep-gray);
    width: 100vw;
    height: 158px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* color */

.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: var(--light-gray);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-dark {
    background-color: var(--deep-gray);
}

/* font */
.ant-typography{
  color:var(--deep-gray) !important;
  line-height: 1 !important;
}

/* font color */

.text-white {
    color: var(--white);
}

.text-dark {
    color: var(--deep-gray);
}

/* public */

.center-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}



/* search input style */

.ant-input-group input,
.ant-input-group-addon button {
    border: 1px solid var(--deep-gray);
}

.ant-input-group input {
    width: 230px !important;
}

.ant-input-search-button {
    width: 65px !important;
    background-color: var(--deep-gray) !important;
}

.ant-input-search-button svg {
    fill: var(--white);
}


/* divider style */

.ant-divider::before {
    width: 0;
}

.ant-divider::after {
    margin-left: 4%;
    border-top: 1px solid var(--deep-gray) !important;
}


/* list style */

.ant-list-bordered {
    border-top: 2px solid var(--deep-gray) !important;
    border-bottom: 2px solid var(--deep-gray) !important;
    border-right: none !important;
    border-left: none !important;
}

/* Button */

.add{
    margin-top: 20px;
    background-color :black;
    color: white;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

/* Header Button */

.header-button-group {
    display: flex;
    justify-content: space-between;
}

.header-button {
    color: white;
    margin-left: 12px;
}