:root {
    --deep-gray: #343E4B;
    --light-gray: #FBFBFB;
    --yellow: #E2A12E;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    letter-spacing: 0.1em;
    overflow-x: hidden;
}

main,
.height-80 {
    min-height: 80vh !important;
}

.ant-layout-footer {
    padding: 0 !important;
}

.myFooter {
    background-color: var(--deep-gray);
    width: 100vw;
    height: 158px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* color */

.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: var(--light-gray);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-dark {
    background-color: var(--deep-gray);
}


/* font */

.ant-typography {
    color: var(--deep-gray) !important;
    line-height: 1 !important;
}

.font-normal {
    font-size: 1rem;
    font-weight: 700;
}


/* font color */

.text-white {
    color: var(--white);
}

.text-dark {
    color: var(--deep-gray);
}


/* public */

.center-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}


/* search input style */

.ant-input-group input,
.ant-input-group-addon button {
    border: 1px solid var(--deep-gray);
}

.ant-input-search-button {
    background-color: var(--deep-gray) !important;
}

.ant-input-search-button svg {
    fill: var(--white);
}


/* divider style */

.ant-divider-inner-text {
    padding: 0 !important;
}

.ant-divider-horizontal.ant-divider-with-text-left::before {
    width: 0 !important;
}

.ant-divider::before {
    width: 0;
}

.ant-divider::after {
    margin-left: 4%;
    border-top: 1px solid var(--deep-gray) !important;
}


/* list style */

.ant-list-bordered {
    border-top: 2px solid var(--deep-gray) !important;
    border-bottom: 2px solid var(--deep-gray) !important;
    border-right: none !important;
    border-left: none !important;
}

.ant-list-items li:nth-child(even) {
    background-color: rgba(52, 62, 75, 0.2)!important;
}


/* input */
.loginInputs{
    width: 100%;
}

.loginInputs .ant-input {
    height: 60px !important;
    border: 1px solid var(--deep-gray) !important;
    margin-bottom: 1rem !important;
}

.loginInputs .ant-input:focus {
    border-color: none !important;
    box-shadow: none !important;
}


/* button */

.ant-btn-text:hover,
.ant-btn-text:focus {
    background-color: unset !important;
}

.hover-border:hover {
    border-color: var(--yellow) !important;
}

.btn-main {
    background-color: var(--deep-gray) !important;
    color: var(--light-gray) !important;
    padding: 0 !important;
}


/* radio */

.ant-radio-inner {
    border-color: var(--deep-gray) !important;
}

.ant-radio-inner::after{
    background-color: var(--yellow) !important;
}

/* checkbox */
.ant-checkbox-checked .ant-checkbox-inner{
    background-color: var(--deep-gray) !important;
    border-color:var(--deep-gray) !important;
}

/* badge */
.badge{
    color:var(--white);
    background-color: var(--deep-gray);
    padding:9px 16px;
    margin-bottom: 16px;
    border-radius: 30px;
}

.stationName{
    padding:9px 16px;
    margin-bottom: 16px;
}
/* Button */

.add{
    margin-top: 20px;
    background-color :black;
    color: white;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

/* Header Button */

.header-button-group {
    display: flex;
    justify-content: space-between;
}

.header-button {
    color: white;
    margin-left: 12px;
}